/* .main {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #F4F1F0;
    align-items: center;
    gap: 20px;
   max-height: 600px;
    position: relative;
} */

/* .contents h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5rem;
    font-weight: 500;
    padding: 2rem 0;
    font-size: 2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    padding: 1.5rem 2rem;
    margin: 0 1rem;
    background-color: transparent;
    border: solid white 1px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: 0.25s background-color;
}

.buttons button:hover {
    background-color: white;
    color: black;
    transition: 0.25s background-color;
    cursor: pointer;
} */

.video {
   
    /* z-index: -1; */
    height: 100%;
    width: 45%;
   
    border-radius: 5px;
}